<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
input[type="submit"]{padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; }
    
    input[type="text"]{padding:5px 15px; border:2px black solid;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; }
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>
    <a href="/account/logout/" class="w3-padding-large w3-hover-red w3-hide-small w3-right">LOGOUT</a>
  </div>
</div>


  

<!-- The Band Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">健康檢查時間軸</h2>
    <p class="w3-opacity"><i>醫護人員 姓名：華哥</i></p>
    
    <!--test-->
  <!--<button class="w3-content" onclick="test()">{{x}}</button>-->
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">
{{ chart|safe }}
</div>

<div class='container'>  
    <h1>HOME</h1>  
    <form method="post">   
      {% csrf_token %} 
      {{ form.as_p }}  
      <button type="submit">SUBMIT</button>  
    </form>
  </div>




</body>
</html>
